---

import Container from '@components/elements/Container.astro'
const lang = Astro.currentLocale

---

<!doctype html>
<html lang={lang}>
  <body class="min-h-screen bg-background text-foreground">
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-T7CDGRPZ"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe></noscript
    >
    <!-- End Google Tag Manager (noscript) -->
    <main>
      <Container>
        <slot />
      </Container>
    </main>
  </body>
</html>
